<div class="jumbotron">
    <h1 class="display-4 mb-3">Ciberseguridad</h1>
    <p class="lead">
        Bienvenidos a la página principal del proyecto de cibserseguridad,
         pulsa los botones para añadir a los integrantes
    </p>
    <hr class="my-4" />
    <p>
     
    </p>
  
   
    <div class="card w-25" style="margin-top: 15%; text-align: center; margin: auto;">
      <div class="card-body">
        <div class="row">
          <input type="text" [(ngModel)]="Username" style="margin-bottom: 4%; border-radius: 7px;"  placeholder="Nombre user">
        </div>
        <div class="row">
          <input type="text" style="border-radius: 7px;" [(ngModel)]="userpassword" placeholder="Contraseña">
        </div>

        <div class="row">
          <input type="text" style="border-radius: 7px;" [(ngModel)]="privateKey" placeholder="Contraseña">
        </div>

        <div class="row">
          <input type="text" style="border-radius: 7px;" [(ngModel)]="mensaje" placeholder="Contraseña">
        </div>
       
      </div>
      <div class="card-footer">
        <button class="btn btn-secondary" (click)="Registrar()">Registrarse</button>
        <button class="btn btn-secondary" (click)="Firmar()">FIrmar y verificar</button>
      </div>

     
    </div>
  </div>