<div class="jumbotron">
    <h1 class="display-4 mb-3">Ciberseguridad</h1>
    <p class="lead">
        Bienvenidos a la página principal del proyecto de cibserseguridad,
         pulsa los botones para añadir a los integrantes
    </p>
    <hr class="my-4" />
    <p>
     
    </p>
    <div class="row">
      <a class="col btn btn-secondary  " style="width: 50%;" (click)="AddFerran()" role="button">Añadir a Ferran</a>
      <a class="col btn btn-secondary " (click)="AddJaskie()" role="button">Añadir a Jaskirath</a>
      <a class="col btn btn-secondary " (click)="AddDiego()" role="button">Añadir a Diego</a>
      
    </div>
   
    <div class="card " style="margin-top: 5%; text-align: center;">

      <table >
        <thead>
          <div class="row mb-2">
          <tr class="col">ID</tr>
          <tr class="col">Nombre</tr>
          <tr class="col">Edad</tr>
        </div>
        </thead>
        <tbody *ngFor="let item of RSAPublicKey;let i index">
        <div class="row mb-1">
        <tr class="col">{{item.id}}</tr>
        <tr class="col">{{item.name}}</tr>
        <tr class="col">{{item.age}}</tr>
    
      
      </div>
    </tbody>
      </table>
    </div>
  </div>